/* -- Reset ------------------------------------ */

*,
*::before,
*::after {
  /* ➩ Propriété modifiant le calcul des éléments */
  box-sizing: border-box;
}

ul {
  /* ➩ Annule marge interne */
  padding: 0;

  /* ➩  Supprime les puces */
  list-style: none;
}

a {
  /* ➩ Pas de soulignement */
  text-decoration: none;
}

/* -- Style par défaut -------------------------- */

body {
  /* ➩ Police sans-serif */
  font-family: sans-serif;
}

/* -- Nav-bar ---------------------------------- */

.nav-bar {
  /* Ombre portée */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-bar__list {
  /* ➩ Contexte Flex */
  display: flex;

  /* ➩ Tester les différentes directions */
  /* flex-direction: column; */

  /* ➩ Tester les différentes positions sur l'axe principal */
  justify-content: center;

  /* ➩ Tester les différentes positions sur l'axe secondaire */

  /* ➩ Un peu de Gouttière */
  gap: 1rem;

  /* ➩ Flex wrap */
  flex-wrap: wrap;

  /* marge interne */
  padding: 1em;
}

.nav-bar__item {
  flex-grow: 1;
  text-align: center;

  /* ➩ Marge interne Haut/Bas 8px et 16px */
  padding: 0.5rem 1rem;

  /* ➩ Bordures */
  border: solid 1px #343534;
}

.nav-bar__link {
  /* ➩ Taille caractère 24px */
  font-size: 1.5rem;

  /* ➩ En gras */
  font-weight: bold;

  /* ➩ En haut de casse */
  text-transform: uppercase;

  /* ➩ Interlettrage de 1.6px */
  letter-spacing: 1.5px;

  /* Couleur #343534 */
  color: #343534;

  /* Transition sur la couleur et la bordure */
  transition: color 0.25s ease-in, border 0.5s ease-in;
}

.nav-bar__link:hover {
  /* ➩ Couleur au survol ee6352 */
  color: #ee6352;

  /* ➩ Bordure uniquement vers le bas */
  border-bottom: solid 1px #ee6352;
}
