/* -- Reset ------------------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  border: solid 5px blue;
}
body {
  height: 100%;
  border: solid 5px green;
}

/* -- flex-container et flex-items ------------------------------------ */

.flex-container {
  border: solid 5px orange;
  height: 100%;
  /* ➩ Jouer avec le contexte de formatage Flexbox pour centrer notre div */
  display: flex;
  justify-content: center;
  align-items: center;

  /* ➩ Utiliser les propriété d'alignement sur l'axe principal et sur l'axe secondaire pour déplacer notre div */
}

.flex-item {
  /* Dimensionner votre div, pour obtenir un carré de coté 20rem */
  width: 20rem;
  height: 20rem;

  /* ➩ Contexte de formatage Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  /* ➩ Donner une couleur d'arrière plan */
  background-color: rgb(255, 0, 0);
}
