/* -- Reset ------------------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #4d4e65;
}

html,
body {
  height: 100%;
}

/* -- Style de base ------------------------------------ */

body {
  font-family: sans-serif;
  background-color: #f1f1f1;
}

.container {
  border: solid 2px red;
  /* ➩ Hauteur 100% du parent */
  height: 100%;

  /* ➩ Contexte de formatage permettant de centrer horizontalement et verticalement */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- Card ------------------------------------ */

.card {
  border: solid 2px blue;
  /* ➩ Référent dans le positionnement des enfants */
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  /* ➩ Largeur de 320px */
  width: 20rem;
  /* ➩ Ratio H/L 1 */
  aspect-ratio: 1/1;

  padding: 1em;

  overflow: hidden;
}

.card__img-container {
  border: solid 4px green;
  /* ➩ Position hors du flux */
  position: absolute;
  /* ➩ Prend toute la largeur et la hauteur du parent */
  width: 100%;
  /* ➩ Ratio H/L 1 */
  aspect-ratio: 1/1;
  /* ➩ translation */
  translate: 0 100%;
  /* ➩ Clr Arrière plan */
  background-color: #4d4e65;
  /* ➩ Transition */
  transition: translate 0.5s ease-in;
}

.card__icon {
  display: block;
  /* ➩ Couleur propriété fill du svg */
  fill: rgba(255, 255, 255);
}

.card__desc {
  border: solid 4px orangered;
}

.card:hover .card__img-container {
  /* ➩ Translation de 100% du parent - renseignez vous sur les propriétés transform et ou translate */
  translate: 0;
}
