/* -- Reset ------------------------------------ */

*,
*::before,
*::after {
  /* ➩ Propriété modifiant le calcul des éléments */

}

ul {
  /* ➩ Annule marge interne */

  /* ➩  Supprime les puces */

}

a {
  /* ➩ Pas de soulignement */

}

/* -- Style par défaut -------------------------- */

body {
  /* ➩ Police sans-serif */

}

/* -- Nav-bar ---------------------------------- */

.nav-bar {
  /* Ombre portée */

}

.nav-bar__list {
  /* ➩ Contexte Flex */

  /* ➩ Tester les différentes directions */

  /* ➩ Tester les différentes positions sur l'axe principal */

  /* ➩ Tester les différentes positions sur l'axe secondaire */

  /* ➩ Un peu de Gouttière */

  /* ➩ Flex wrap */

  
  /* marge interne */
  padding: 1em;
}

.nav-bar__item {
  /* ➩ Marge interne Haut/Bas 8px et 16px */

  /* ➩ Bordures */

}

.nav-bar__link {
  /* ➩ Taille caractère 24px */

  /* ➩ En gras */

  /* ➩ En haut de casse */

  /* ➩ Interlettrage de 1.6px */

  /* Couleur #343534 */
  color: #343534;

  /* Transition sur la couleur et la bordure */
  transition: color 0.25s ease-in, border 0.5s ease-in;
}

.nav-bar__link:hover {
  /* ➩ Couleur au survol ee6352 */

  /* ➩ Bordure uniquement vers le bas */

}
